@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@300&family=Nunito:wght@700&family=Roboto:wght@100;500&display=swap');

/*font-family: 'Barlow', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/

*{
    padding: 0;
    margin: 0;
}

body{
    display: block;
    background-color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

#menu-principal{
    display: block;
    background-color: #00076b;
}

#menu-principal ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
}

#menu-principal ul .menu-item{
    display: block;
    color: #fff;
    padding: .8em 1.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    transition: .3s;
}

#menu-principal ul .menu-item:hover{
    background-color: #fff;
    color: #00076b;
}

#imagem_inicio{
    display: block;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

#imagem_inicio img{
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
}

#conteudo{
    display: block;
    position: relative;
    padding: 1% 6% 2% 6%;
}

#conteudo #titulo{
    display: block;
    text-align: center;
    font-size: 1.4em;
    color: #00076b;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

h2{
    color: #00076b;
    font-size: 1.8em;
    margin-bottom: 1%;
}

#inicial{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#inicial figure{
    text-align: center;
    font-size: .8em;
}

#inicial figure img{
    border-radius: .8em;
    border: .2em solid #414141;
}

#inicial .texto{
    text-align: justify;
}

#inicial .texto p{
    margin-bottom: 1%;
}

#geologia{
    display: block;
    position: relative;
    margin-bottom: 4%;
}

#fauna_flora p{
    margin-bottom: 1%;
}

#clima{
    margin: 4% 0;
    display: block;
}

#tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4% 0;
}

#clima table{
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 1%;
    border-radius: 1em;
    overflow: hidden;
}

#titulos th{
    padding: 1em;
    font-size: 1.1em;
    background-color: #2b2b2b;
    color: #f6f6f6;
}

#titulos #inicial{
    display: block;
    text-align: center;
}

.elemento1 th, .elemento2 th{
    padding: .5em 1em;
    font-size: .9em;
    background-color: #414141;
    color: #f6f6f6;
}

td{
    padding: .5em 1em;
}

.elemento1 td{
    background-color: #dbdbdb;
}

.elemento2 td{
    background-color: #c0c0c0;
}

.elemento1, .elemento2{
    border-top: .1em solid #c0c0c0;
}
#tabela span{
    font-size: .9em;
    transform: ne;
}

#praias{
    display: block;
    margin-bottom: 4%;
}

#praias h1{
    font-size: 2em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #00076b;
    margin-bottom: 2%;
}

#listas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#listas figure{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: .8em;
}

#listas figure em{
    margin-top: 1%;
}

#listas ul{
    list-style: none;
    font-size: 1em;
}

#problemas_ecologicos{
    margin-bottom: 4%;
}

#problemas_ecologicos #infos_problemas p{
        margin-bottom: 1%;
        text-align: justify;
}

#problemas_ecologicos figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    margin: 1% 2%;
}

#problemas_ecologicos figure em{
    font-size: .8em;
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

#problemas_ecologicos figure img{
    border-radius: .8em;
    border: .2em solid #414141;
}

#imagens{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#imagens img{
    display: block;
    border-radius: 1em;
    border: .2em solid #686868;
}

footer{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00076b;
    color: #fff;
    padding: 1% 0;
}

footer .elemento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 2%;
}

#menu-rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 6%;
}

#menu-rodape li{
    display: block;
    transition: .3s
}

#menu-rodape li:hover{
    transform: scale(1.2);
}